/* 전체 레이아웃 컨테이너 */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 화면 전체 높이를 차지 */
}

/* 메인 컨텐츠 영역 */
.content {
  flex: 1; /* 남은 공간을 차지하도록 설정 */
}

/* Footer 스타일 */
footer {
  background-color: #f1f1f1;
  text-align: center;
  padding: 10px 0;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
}
